<h1>KONTAKT:</h1>
<p id="notice"><%= notice %>
<p id="bong"><b>Robert Wolf<br>
Am Fenn 14<br>
10569 Berlin</b>
</p>
<br>
<p id="bong"><b>Telefon: 030 45 000 589</b></p>
<br>
<p style="font-size:18px;"><b><%= link_to "Senden Sie uns eine Nachricht >>", new_contact_message_path %></b></p>
<br>
<br>
<p></p>
