<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
     
      <nav>
        <ul id="logo">
          <li><%= link_to "Home", root_path %></li>
        </ul>
        <ul class="nav pull-right"> 
          <li id="bong"> <%= link_to "Admin (Nachrichten verwalten)", contact_messages_path %></li>
       </ul>   
      </nav>
    </div>
  </div>
</header>

